html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'SourGummy-Regular', Georgia, serif;
  /* background-color: #492f6f !important; */
}

.main{
  background-color: #fff8e6;
  font-family: 'SourGummy-Regular', Georgia, serif;
  height: 100vh;
  overflow-y: scroll;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'SourGummy-Regular', Georgia, serif;
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'SourGummy-Regular', Georgia, serif;
}

.header {
  display: flex;          
  align-items: center; 
  font-family: 'SourGummy-Regular', Georgia, serif;   
}

.button-group {
  margin-top: 20px; 
  font-family: 'SourGummy-Regular', Georgia, serif;   
}

.button-group .btn {
  margin: 0 5px;
  font-family: 'SourGummy-Regular', Georgia, serif;    
}

.sun-image {
  width: 150px;          
  height: auto;     
  margin-left: 12%;  
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40% !important;
  background-color: #7d4caf;
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;        
  font-size: 20px;
  border-radius: 10px; 
  padding: 10px;        
  box-sizing: border-box;
  margin: 0 auto;      
  flex-direction: column;
  box-shadow: 0 6px 200px rgba(255, 226, 35, 0.6),
              0 4px 500px rgba(255, 226, 35, 0.5),
              0 3px 20px rgba(181, 176, 142, 0.2); 
  font-family: 'SourGummy-Regular', Georgia, serif;
}

.box:hover {
  background-color: #f9b300 !important;
}
/* Footer.css */
footer {
  background-color: #FFDEAD;
  color: #333;
  padding: 20px 0;
  text-align: center;
  margin-top: 30px;
  font-family: 'SourGummy-Regular', Georgia, serif;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
  flex-wrap: wrap;
  font-family: 'SourGummy-Regular', Georgia, serif;
}

.contact-info, .nav-links {
  margin-bottom: 20px;
  font-family: 'SourGummy-Regular', Georgia, serif;
}

ul.social-links {
  list-style-type: none;
  padding: 0;
  font-family: 'SourGummy-Regular', Georgia, serif;
}

footer p {
  font-size: 0.8rem;
  margin-top: 20px;
  font-family: 'SourGummy-Regular', Georgia, serif;
}

/* custom font - delete if needed */
@font-face {
  font-family: 'SourGummy-Regular';
  src: url('/fonts/SourGummy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* gradient color */
.gradient {
  background: linear-gradient(#ffd875, transparent);
}

/* switches the gradient color when hovering */
.gradient:hover {
  background: linear-gradient(transparent, #ffd875);
}

/* change color of password toggle icon when hovering */
.password-toggle:hover {
  color: #f9b300 !important;
  font-family: 'SourGummy-Regular', Georgia, serif;
}

/* autofill for input field */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important; /* using box-shadow to cover the default background color */
}

/* LoadingSpinner overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 248, 230, 0.5); /* semi-transparent background. don't really know if this is even working lol */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensures it appears above all other content */
  font-family: 'SourGummy-Regular', Georgia, serif;
}

/* custom background style - change font if needed */
.custom-bg {
  background-color: #fff8e6;
  color: orange;
  font-family: 'SourGummy-Regular', Georgia, serif;
}

.custom-dropdown {
  color: orange;
  font-weight: bold;
  text-decoration: none;
  font-family: 'SourGummy-Regular', Georgia, serif;
}

.custom-dropdown:hover {
  color: orange;
  background-color: #fbfad3;
  text-decoration: none;
  font-family: 'SourGummy-Regular', Georgia, serif;
}

.no-underline {
  text-decoration: none !important;
}

/* pagination colors */
.custom-pagination .page-link {
  color: #d76b00 !important;
}
.custom-pagination .active .page-link {
  background-color: #f4cc70 !important;
  border-color: #edb95e !important;
}